html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
}

body {
    background: rgb(22, 22, 22);
}

.container {
    width: 90vw;
    max-width: 500px;
    height: 90vw;
    max-height: 500px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
}

button {
    width: 100%;
    height: 100%;
    padding: 0;
    border: none;
    background: transparent;
    display: flex;
    transition: transform 0.3s cubic-bezier(0.77,0,0.175,1);
}

button:hover {
    transform: scale(1.13);
}

button img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    margin: 0;
    padding: 0;
    border: none;
}

.logo-img {
    opacity: 0;
    animation: fadeIn 1.5s ease-in forwards;
}

@keyframes fadeIn {
    to {
        opacity: 1;
    }
}

.pillar-animation {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 9999;
  pointer-events: none;
  display: flex;
}

.pillar {
  flex: 1;
  height: 100vh;
  transition: transform 1.6s cubic-bezier(0.77,0,0.175,1), opacity 0.7s;
  will-change: transform;
  opacity: 0;
}
.pillar-1 {
    background: #D8D8D8;
}
.pillar-2 {
    background: #B5B5B5;
}
.pillar-3 {
    background: #9B9A9A;
}
.pillar-4 {
    background: #6E6E6E;
}

.pillar-1,
.pillar-3 {
  transform: translateY(-100vh);
}
.pillar-2,
.pillar-4 {
  transform: translateY(100vh);
}

.pillar-animation.pillar-animate-in .pillar {
  opacity: 1;
  transform: translateY(0) scaleY(1.2);
}

.pillar-animation.pillar-animate .pillar-1,
.pillar-animation.pillar-animate .pillar-3 {
  transform: translateY(-100vh);
}
.pillar-animation.pillar-animate .pillar-2,
.pillar-animation.pillar-animate .pillar-4 {
  transform: translateY(100vh);
}
.pillar-animation.pillar-animate .pillar {
  opacity: 1;
}

.pillar-animation.pillar-animate {
  z-index: 9999; 
  pointer-events: auto;
}

.pillar-animation.pillar-animate .pillar {
  opacity: 1;
}

.pillar-animation.pillar-animate-out .pillar-1,
.pillar-animation.pillar-animate-out .pillar-3 {
  transform: translateY(-100vh);
  opacity: 0;
}

.pillar-animation.pillar-animate-out .pillar-2,
.pillar-animation.pillar-animate-out .pillar-4 {
  transform: translateY(100vh);
  opacity: 0;
}

.pillar-animation.pillar-animate-out {
  z-index: 9999; 
  pointer-events: auto;
}

.body-exit .container {
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.2s, visibility 0s;
}

.button-fade-out {
  opacity: 0;
  transition: opacity 0.7s;
  pointer-events: none;
}